
            @media only screen and (min-width: 10px) {

            .grid-container {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 2px;
                background-color: rgba(0, 102, 51, 0.25);
                padding: 2px;
            }
            

          
        }

        @media only screen and (min-width: 500px) {

            .grid-container {
                display: grid;
                grid-template-columns: auto minmax(20px, 140px) auto auto;
                grid-gap: 2px;
                background-color: rgba(0, 102, 51, 0.25);
                padding: 2px;
            }


        }

       
        /* @media print { */

        body,
   
        p {
            margin: 2px;
        }

        .wrapper {
            max-width:920px;
            margin:auto;
        }

        .col-sm-2,
        col-sm-6 {
            padding-left: 5px;
            padding-right: 5px;
        }

        .container
        {padding-left:5px;
        padding-right:5px;}

           /* .grid-container p
          {background-color:black;}   */

          .wrapper p:nth-of-type(8n-0) {
              background-color:black;
            }

            .wrapper p:nth-of-type(8n-1) {
            background-color:#f5f5f5;
            }           

            .wrapper p:nth-of-type(8n-2) {
            background-color:#f5f5f5;
            }   

/*ie 5th in every group of 8 */
            
            .wrapper p:nth-of-type(8n-3) {
            background-color:#f5f5f5;
            }


        .wrapper>div {
            background-color: #ffffcc;
            text-align: left;
            padding: 2px 0;
        }

